@import url('https://fonts.googleapis.com/css2?family=Lato');
*{
  margin: 0;
  padding: 0;
}

.test-page-header{
  background-color: #1d3348;
  z-index: 3000;
}
.custom-header-l{
  min-width: 350px;
}
.test-page-header img {
  background-color: silver;
}
.test-page-header h5 {
  display: inline;
  margin: 0;
  color: #eef8fa;
}
.custom-header-r {
  margin-top: -3px;
}
.globaltimer {
    display: inline-block;
    font-family: 'Lato', sans-serif;
    color: #eef8fa !important;
    -webkit-font-smoothing: antialiased;
    margin-right: 10px;
    margin-top: 8px;
    font-size: 25px;
}
.custom-header-r a {
  margin: 0 3px;
  font-size: 27px;
}
.stopwatch {
  color: #eef8fa !important;
}
.close-btn{
  color: #903135;
}
.close-btn:hover{
 color: red;
}
/*////////////////////////////////////////////////////////////////////////////*/
.panel {
  border-radius: 12px !important;
  border: none !important;
}
.question-number .number {
    font-weight: 600;
    color: #1d3349;
    font-size: 2em;
}
.question-number .total {
    font-size: 1em;
    color: #aaaaaa;
    font-weight: 600;
}
.timer {
    font-family: 'Avenir-Medium';
}

.panel-body-inner {
  padding: 20px;
}
.option-items{
  font-family: 'Avenir-Medium';
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  color: #4b4b4b;
}
.questions {
  padding-top: 30px;
}
.question-option p {
    display: inline;
}
.selected-answer {
    border: 1px solid #a0a0a0 !important;
    background: #e6e6e6 !important;
    color: #2d2d2d;
}
.actualquestion {
    border-bottom: 1px solid #e6e8ea;
    margin-bottom: 15px;
    font-family: 'Lato';
    font-weight: 700;
    padding-bottom: 0px;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-size: 1.35em;
}
.question2wrapper {
    padding-left: 20px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.question2 {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.7em;
  font-weight: 400 !important;
  color: #4b4b4b;
  border-left: 4px solid #e6e8ea;
  display: block;
  padding-top: 0;
  font-size: 1.05em;
  padding-bottom: 0;
  padding-left: 20px;
  margin-top: 10px;
  text-align: justify;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.questioncontainer {
    padding-left: 20px;
    padding-right: 10px !important;
}
.question_answer {
  font-family: 'Lato', sans-serif;
    font-size: 1.05em;
    font-weight: 400 !important;
    border: 1px solid gray;
    background: #f5f5f5;
    border: 1px solid #e1e1e1;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 12px;
}

.question_answer:hover {
    background: #e9e9e9;
    cursor: pointer;
    border: 1px solid #d2d2d2;
    color: #2d2d2d;
}

.abcde {
  display: inline-block;
    border: 1px solid #e6e6e6;
    background: #fcfcfc;
    padding: 2px;
    padding-top: 0;
    border-radius: 5px;
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 0.8em;
    margin-right: 10px;
}
.question-option {
  display: inline-block !important;
  text-align: justify;
}

/////////////////////////////////////////////

.container-fluid {
    margin-right: auto;
    margin-left: auto;
}
.navbar-fixed-bottom {
    position: fixed;
    background: #1d3349;
    margin-bottom: 0;
    border-width: 1px 0 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: auto;

}

.panel-footer {
    border-radius: 0;
}
.bottombar {
    text-align: center !important;
    padding-top: 0;
    padding-bottom: 0;
    background: #1d3349;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Lato';
}
.previousButton {
    cursor: pointer;
    background: #e67e22;
    color: rgba(0, 0, 0, 0.55);
    color: #1d3349;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding-top: 12px;
    padding-bottom: 12px;
    position: fixed !important;
    left: 0;
    width: 20%;
}
.nextButton, .submitButton, .fakeSubmitButton {
    cursor: pointer;
    background: white;
    color: rgba(0, 0, 0, 0.55);
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    padding-top: 12px;
    background: #2ecc71;
    padding-bottom: 12px;
    position: fixed !important;
    right: 0;
    width: 20%;
}
.nopadding {
    padding: 0 !important;
}
.pagination-wrapper {
    display: inline-flex;
    overflow-x: hidden;
}
.bottombar .pagination {
    background: #1d3349;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    border-radius: 0 !important;
    height: 44px;
    display: inline-block;
    padding-left: 0;
    list-style: none;
}
.bottombar ul {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    background: none !important;
    overflow: hidden !important;


  }
  .bottombar .pagination li {
    display: inline-block;
}
.bottombar .bottombar-questions {
    width: 35px;
    font-size: 14px;
    cursor: pointer;
    text-align: center !important;
    background: none;
    border-radius: 0 !important;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    margin-left: -3px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0);
    font-family: 'Avenir-Medium';
    color: rgba(255, 255, 255, 0.9);
    -webkit-font-smoothing: antialiased;
}
.bottombar .bottombar-questions:hover {
    background: rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
}
.bottombar-highlight {
    background: rgba(255, 255, 255, 0.1) !important;
}
.bottombar .backscroll, .bottombar .forwardscroll {
    padding: 6px 0;
    margin: 0 !important;
    background: none !important;
    width: 34px;
    font-size: 22px;
    height: 44px;
    cursor: pointer;
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0);

}
.bottombar .backscroll:hover, .bottombar .forwardscroll:hover {
    opacity: 1;
}
.bottombar .backscroll{
  margin-left: 5px;
}
.bottombar .forwardscroll {

}
.bottombar {

}




/**********************************************************************/
body{
  padding: 70px 0;
}


/**********************************************************************/
@media only screen and (max-width: 600px) {
  .bottombar ul {
    overflow-x: auto !important;
  }
}

@media (min-width: 768px){
.col-sm-pull-2 {
    right: 16.66666667%;
  }
.col-sm-push-8 {
    left: 66.66666667%;
}
}

@media (min-width: 992px){
.col-md-6 {
    width: 50%;
}
